<br>
<div class="container text-center" id="registrationContainer">
<h2 id="registrationHeader"> Create an account </h2>
<p *ngIf="dataSaved && registerForm.pristine" ngClass="success">
  User created successfully!
</p>
<form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit()">
  <div class="text-left">
    <label for="firstName">First name</label>
    <input type="text" formControlName="firstName" class="form-control"/>
    <div>
      <!-- <div>First name is required</div> -->
    </div>
  </div>

  <div class="text-left">
    <label for="lastName">Last name</label>
    <input type="text" formControlName="lastName" class="form-control"/>
    <div>
      <!-- <div>Last name is required</div> -->
    </div>
  </div>

  <div class= "text-left">
    <label for="lastName">Email</label>
    <input type="email" formControlName="email" class="form-control"/>
    <div>
      <!-- <div>Last name is required</div> -->
    </div>
  </div>

  <div class="text-left">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control"/>
    <div>
      <!-- <div>Last name is required</div> -->
    </div>
  </div>

  <div class="text-left">
    <label for="phoneNumber">Phone number</label>
    <input type="text" formControlName="phoneNumber" class="form-control"/>
    <div>
      <!-- <div>Last name is required</div> -->
    </div>
  </div>

  <!-- <div class="form-group text-left">
    <label for="city">City</label>
    <input type="text" formControlName="city" class="form-control"/>
    <div> -->
      <!-- <div>Last name is required</div> -->
    <!-- </div>
  </div> -->

  <!-- <div class="form-group text-left">
    <label for="state">State</label>
    <input type="text" formControlName="state" class="form-control"/>
    <div> -->
      <!-- <div>Last name is required</div> -->
    <!-- </div>
  </div> -->

  <input class="btn btn-primary" type="submit" value="Create account">

</form>
</div>