<p class="text-left">Search for an artist or song</p>

<form>

  <div class="form-group">
    <input type="text" name="searchStr"  [(ngModel)]="searchStr" (keyup)="searchMusic()" class="form-control" placeholder="Search">

  </div>
</form>

<div *ngIf="searchRes">
  <div *ngFor="let res of searchRes">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <img id="artist-img" src={{res.images[0].url}}/>
          <h4 >{{res.name}}</h4>
          <div>
            <strong>Genres: </strong>
            <span id="fake-link" (click)="selectArtist($event)" *ngFor="let genre of res.genres">| {{genre}} |</span>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>