<div id="header">
  header-placeholder
</div>

<div id="nav-bar">
  nav-bar-placeholder
</div>

<div class="container" id="base">
  <div class="container" id="left-col">
    <img id="prof-pic" src="https://pbs.twimg.com/profile_images/826914296093241344/jswv7reL_400x400.jpg">
    <p id="prof-username">User Name</p>
  </div>
  <div class="container" id="center-col">
    <div id="post-timeline">
      <img id="post-prof-pic" src="https://pbs.twimg.com/profile_images/826914296093241344/jswv7reL_400x400.jpg">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque diam sed accumsan ultricies. Etiam tellus velit, malesuada sed gravida in, accumsan at urna.</span>
    </div>
  </div>
  <div class="container" id="right-col">
    test3
  </div>
</div>