<div id="header">
  header-placeholder
</div>

<div id="nav-bar">
  nav-bar-placeholder
</div>

<div class="container" id="base">

  <div class="container" id="left-col">
    <img id="prof-pic" src="https://pbs.twimg.com/profile_images/826914296093241344/jswv7reL_400x400.jpg">
    <p id="prof-username">User Name</p>
  </div>
  
  <div class="container" id="center-col">
    <div id="post-timeline" *ngFor="let post of posts">
      <a id="post-prof-pic-link" href="">
        <img id="post-prof-pic" src="{{post.prof_pic}}">
        <figcaption>{{post.handle}}</figcaption>
      </a>
      <span id="post-text">{{post.text}}</span>
      <div id="post-buttons-container">
        <button class="btn btn-success" id="post-buttons">✓</button>
        <button class="btn btn-danger" id="post-buttons">X</button>
      </div>
    </div>
  </div>

  <div class="container" id="right-col">
    test3
  </div>
</div>